{% extends "base.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="alert alert- {% if  _get.message %}{{ _get.message_type }}{% endif %}"> {{ _get.message }}</div>

<div class="container">

    <a href="create" class="btn btn-outline-info my-2 my-sm-0 ml-3">Add New Task</a>

    <table class="table table-striped table-dark m-3">
        <thead>
            <th scope="col">TASK ID</th>
            <th scope="col">TASK TITLE</th>
            <th scope="col">TASK USER</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.task_id }}</a></td>
                    <td><a href="/task/show/{{ task.task_id }}" > {{ task.task_name }} </a></td>
                    <td> {{ task.user_name }} </td>
                    <td class="d-inline ">
                        <form action="/task/delete/" method="POST" class="float-left">
                            <input type="hidden" name="task_id" value="{{ task.task_id }}" />
                            <button type="submit" class="btn btn-danger m-1" onclick = "return confirm('Are you sure ?');">DELETE</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody> 
    </table>
</div>
{% endblock %}